
* {
    margin: 0;
    padding: 0;
}

body {
    height: 300vh;
}

.title {
    color: blue;
}

#description {
    color: red;
}

.button {
    border: none;
    background: beige;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 200ms ease-in-out;
}

.button:hover {
    background: lavender;
    outline: 2px solid black;
}

.button:active {
    transform: scale(0.95);
    transition: transform 500ms ease-in-out;
}
.pseudo-element-selector {
    display: flex;
}
.pseudo-element-selector::before, .pseudo-element-selector::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
.pseudo-element-selector::after {
    background-color: blue;
}
ul li::marker {
    color: blue;
    font-size: 20px;
}

div[attr] {
    background-color: blue;
    color: #fff;
}

.content {
    border: 1px solid black;
    padding: 20px 10px 5px 1px;
    background-color: white;
    margin: 10px;
}

.position-relative {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: violet;
    right: -20px;
    top: 0;
}

.position-fixed {
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid black;
}

.relative {
    position: relative;
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    border: 1px solid black;
}

.relative img {
    position: absolute;
    border-radius: 50%;
    /* left: 60px;
    top: 60px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    object-fit: cover;
    z-index: 3;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: green;
    z-index: 2;
}

.position-sticky {
    position: sticky;
    top: 50px;
    width: 100%;
    height: 30px;
    background-color: gray;
    color: white;
}

.overflow {
    height: 100px;
    border: 1px solid black;
    width: 400px;
    overflow: auto;
}


#specificity-id {
    background: blue;
}

div.specificity {
    background: gray !important;
}

